body {
	font-family: Arial, sans-serif;
	background-color: #f1f1f1;
	color: #333;
}

header {
	background-color: #75b633;
	color: #fff;
	padding: 20px;
}

h1 {
	margin: 0;
}

nav ul {
	margin: 0;
	padding
}